<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
{% load static %}
<head>
<title>AmErA Online</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<script src="{% static 'js/jquery-1.8.1.min.js' %}" type='text/javascript'></script>
<script src="{% static 'js/jquery.kwicks.js' %}" type='text/javascript'></script>
<script type='text/javascript'>
	$(function() {
	$('.kwicks').kwicks({
		maxSize : 250,
		spacing : 5,
		behavior: 'menu'
		});
	});
</script>
<SCRIPT TYPE="text/javascript"> 
 function numbersonly(myfield, e, dec) 
 {
  var key;
   var keychar; 
   if (window.event)
    key = window.event.keyCode; 
    else if (e)
     key = e.which; 
     else return true;
      keychar = String.fromCharCode(key);
       if ((key==null) || (key==0) || (key==8) || (key==9) || (key==13) || (key==27) ) return true; 
        else if ((("0123456789").indexOf(keychar) > -1)) 
        return true; 
         else if (dec && (keychar == ".")) 
         {
          myfield.form.elements[dec].focus();
           return false; 
           }
            else return false; 
        } 
         </SCRIPT>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#button").click(function() {
                    var input_string = $("#userName").val();
                    $.ajax({
                        url : "/ajaxexample_json", 
                        type : "POST",
                        dataType: "json", 
                        data : {
                            client_response : input_string,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                        success : function(json) {
                            $('#result').append( 'ServerResponse:' + json.server_response);
                        },
                        error : function(xhr,errmsg,err) {
                            alert(xhr.status + ": " + xhr.responseText);
                        }
                    });
                    return false;
            });
        });
</script>
</head>
<body >
<div class="header-bg">
<div class="wrap">
	<div class="header">
		<div class="logo">
		  		<a href="index.html"><img src="{% static 'images/mylogo.png' %}"> </a>
		 </div>
		<div class="menu">
			<ul class='kwicks kwicks-horizontal'>
				<li class="active"><a href="/amera/">Home</a></li>
				<li><a href="/find/">Find Contact</a></li>
				<li><a href="/allcontacts/">All Contacts</a></li>
				<li><a href="/contact/">Add Contact</a></li>
			</ul>
	 </div>
	 <div class="clear"></div>
	</div>
</div>
</div>
<div class="wrap">
	<div class="content">
<div class="section group">				
						
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h3>Friend information</h3>
				  
					      <form method="POST" action="/findcontact/" >
					      {% csrf_token %}
					    	<div>
						    	<span><label>NAME</label></span>
						    	<span><input name="userName" id="userName" type="text" placeholder="Enter name" class="textbox"></span>
						    </div>
						  
						   <div>
						     	<span><label> OR MOBILE</label></span>
						    	<span><input name="userPhone" type="text" onKeyPress="return numbersonly(this, event)" placeholder="Enter number"class="textbox"></span>
						    </div>
						    <div>
						   		<span class="button-wrap"><input type="submit" value="find contact"></span>
						  </div>
					    </form>
					   <div id="result">
</div>
				    </div>
  				</div>				
		  </div>
</div>	
</div>
<div class="footer-bg">
<div class="wrap">
<div class="footer">
		<div class="f_grid">
		<div class="social">
			
			</div>
		</div>
		<div class="f_grid1">
		
			<div class="copy">
				<p class="w3-link">© All Rights Reserved | Design by&nbsp; <a href="#"> AmErA</a></p>
			</div>
		
		<div class="clear"></div>
</div>
</div>
</div>
</body>
</html>